@font-face {
  font-family: Rubik;
  src: url('https://cdn.phazed.xyz/fonts/rubik/Rubik-VariableFont_wght.ttf');
} 

* {
  box-sizing: border-box;
}

body{
  background: #1f222b;
  font-family: Rubik, 'Courier New';
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.input{
  width: calc(100% - 20px);
  display: inline-block;
}

.input > .input-text{
  border: none;
  outline: none;
  background: #285075;
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 15px;
  font-family: Rubik, 'Courier New';
  border-radius: 5px;
  display: block;
  transition: 0.25s;
}

.input > .input-underline{
  width: 0%;
  height: 2px;
  margin-top: -2px;
  background: #00ccff;
  border-radius: 5px;
  transition: 0.25s;
}

.input > .input-text:focus{
  border-radius: 5px 5px 0 0;
  box-shadow: inset #0005 0 0 10px;
}

.input > .input-text:focus ~ .input-underline{
  width: 100%;
}

.button{
  padding: 10px 50px;
  display: inline-block;
  background: #285075;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  box-shadow: #0000 0 0 10px;
  transition: 0.25s;
}

.button:hover{
  background: #1a354e;
  box-shadow: #0005 0 0 10px;
}

.button-text{
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.button-danger{
  padding: 10px 50px;
  display: inline-block;
  background: #752828;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  box-shadow: #0000 0 0 10px;
  transition: 0.25s;
  text-align: center;
}

.button-danger:hover{
  background: #4e1a1a;
  box-shadow: #0005 0 0 10px;
}

.app-container{
  width: 325px;
  padding: 10px;
  height: 275px;
  background: #4072a0;
  border-radius: 5px;
  box-shadow: #000 0 0 10px;
  color: white;
  text-align: center;
  transition: 0.1s;
}

.error-text{
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #d33f3f;
  font-weight: bold;
  font-size: 20px;
}

.input-code{
  width: 30px;
  text-align: center;
  border: none;
  outline: none;
  background: #285075;
  padding: 10px;
  color: white;
  font-size: 15px;
  font-family: Rubik, 'Courier New';
  border-radius: 5px;
  margin: 2px;
}

.profile-pic{
  width: 150px;
  height: 150px;
  margin: auto;
  background: #fff3;
  border-radius: 5px;
  box-shadow: #0005 0 0 10px;
  backdrop-filter: blur(3px);
  background-size: cover !important;
  background-position: center !important;
}

.profile-pic-edit{
  background: #0005;
  width: 150px;
  height: 150px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  transition: 0.25s;
}

.profile-pic:hover .profile-pic-edit{
  opacity: 1;
}

.username{
  width: 200px;
  height: 40px;
  margin: auto;
  background: #fff3;
  border-radius: 5px;
  margin-top: -10px;
  box-shadow: #0005 0 0 10px;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: #fff;
}