.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateX(10px);
  opacity: 0;
}
.slide-fade-enter {
  transform: translateX(-10px);
}

@font-face {
  font-family: Rubik;
  src: url('https://cdn.phazed.xyz/fonts/rubik/Rubik-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body{
  background: #1f222b;
  font-family: Rubik, 'Courier New';
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.input{
  width: calc(100% - 20px);
  display: inline-block;
}

.input > .input-text{
  border: none;
  outline: none;
  background: #285075;
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 15px;
  font-family: Rubik, 'Courier New';
  border-radius: 5px;
  display: block;
  transition: 0.25s;
}

.input > .input-underline{
  width: 0%;
  height: 2px;
  margin-top: -2px;
  background: #00ccff;
  border-radius: 5px;
  transition: 0.25s;
}

.input > .input-text:focus{
  border-radius: 5px 5px 0 0;
  box-shadow: inset #0005 0 0 10px;
}

.input > .input-text:focus ~ .input-underline{
  width: 100%;
}

.button{
  padding: 10px 50px;
  display: inline-block;
  background: #285075;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  box-shadow: #0000 0 0 10px;
  transition: 0.25s;
}

.button:hover{
  background: #1a354e;
  box-shadow: #0005 0 0 10px;
}

.button-text{
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.button-danger{
  padding: 10px 50px;
  display: inline-block;
  background: #752828;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  box-shadow: #0000 0 0 10px;
  transition: 0.25s;
  text-align: center;
}

.button-danger:hover{
  background: #4e1a1a;
  box-shadow: #0005 0 0 10px;
}

.app-container{
  width: 325px;
  padding: 10px;
  background: #4072a0;
  border-radius: 5px;
  box-shadow: #000 0 0 10px;
  color: white;
  text-align: center;
  transition: 0.1s;
  position: relative;
}

.error-text{
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #d33f3f;
  font-weight: bold;
  font-size: 20px;
}

.input-code{
  width: 30px;
  text-align: center;
  border: none;
  outline: none;
  background: #285075;
  padding: 10px;
  color: white;
  font-size: 15px;
  font-family: Rubik, 'Courier New';
  border-radius: 5px;
  margin: 2px;
}

.profile-pic{
  width: 150px;
  height: 150px;
  margin: auto;
  background: #fff2;
  border-radius: 5px;
  box-shadow: #0005 0 0 10px;
  backdrop-filter: blur(3px);
  background-size: cover !important;
  background-position: center !important;
  animation: linear infinite 1s image-loading;
}

.profile-pic-edit{
  background: #0005;
  width: 150px;
  height: 150px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  transition: 0.25s;
}

.profile-pic:hover .profile-pic-edit{
  opacity: 1;
}

.username{
  width: 200px;
  height: 40px;
  margin: auto;
  background: #fff2;
  border-radius: 5px;
  margin-top: -10px;
  box-shadow: #0005 0 0 10px;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: #fff;
}

.patreon-button{
  width: 100%;
  height: 40px;
  margin-top: 50px;
  background: linear-gradient(-50deg, #000, #222, #000);
  border: #ffa600 2px solid;
  border-radius: 5px;
  box-shadow: #000 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
}

.link{
  color: #00ccff;
  cursor: pointer;
}

.sessions-list{
  height: 363px;
  overflow: auto;
  mask-image: linear-gradient(to bottom, #0000 0%, #000 10%, #000 90%, #0000 100%);
}

.session{
  width: 100%;
  padding: 10px;
  background: #0005;
  margin-top: 5px;
  border-radius: 10px;
  text-align: left;
}

.session-time{
  font-size: 15px;
  font-weight: 100;
  color: #999;
}

.mfa-qr{
  width: 200px;
  height: 200px;
  display: inline-flex;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  animation: linear infinite 1s image-loading;
  box-shadow: inset #000 0 0 10px;
}

.mfa-qr img{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display: none;
}

.mfa-codes{
  background: #285075;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  color: #999;
}

.oauth-error{
  margin-top: 25px;
}

.oauth-error i{
  font-size: 75px;
  margin-bottom: 10px;
}

@keyframes image-loading {
  0%   { background: linear-gradient(to bottom right, #0000 -100%, #fff2 0%, #0000 100%); }
  5%   { background: linear-gradient(to bottom right, #0000 -90%, #fff2 10%, #0000 110%); }
  10%  { background: linear-gradient(to bottom right, #0000 -80%, #fff2 20%, #0000 120%); }
  15%  { background: linear-gradient(to bottom right, #0000 -70%, #fff2 30%, #0000 130%); }
  20%  { background: linear-gradient(to bottom right, #0000 -60%, #fff2 40%, #0000 140%); }
  25%  { background: linear-gradient(to bottom right, #0000 -50%, #fff2 50%, #0000 150%); }
  30%  { background: linear-gradient(to bottom right, #0000 -40%, #fff2 60%, #0000 160%); }
  35%  { background: linear-gradient(to bottom right, #0000 -30%, #fff2 70%, #0000 170%); }
  40%  { background: linear-gradient(to bottom right, #0000 -20%, #fff2 80%, #0000 180%); }
  45%  { background: linear-gradient(to bottom right, #0000 -10%, #fff2 90%, #0000 190%); }
  50%  { background: linear-gradient(to bottom right, #0000 0%, #fff2 100%, #0000 200%); }

  55%  { background: linear-gradient(to bottom right, #fff2 -90%, #0000 10%, #fff2 110%); }
  60%  { background: linear-gradient(to bottom right, #fff2 -80%, #0000 20%, #fff2 120%); }
  65%  { background: linear-gradient(to bottom right, #fff2 -70%, #0000 30%, #fff2 130%); }
  70%  { background: linear-gradient(to bottom right, #fff2 -60%, #0000 40%, #fff2 140%); }
  75%  { background: linear-gradient(to bottom right, #fff2 -50%, #0000 50%, #fff2 150%); }
  80%  { background: linear-gradient(to bottom right, #fff2 -40%, #0000 60%, #fff2 160%); }
  85%  { background: linear-gradient(to bottom right, #fff2 -30%, #0000 70%, #fff2 170%); }
  90%  { background: linear-gradient(to bottom right, #fff2 -20%, #0000 80%, #fff2 180%); }
  95%  { background: linear-gradient(to bottom right, #fff2 -10%, #0000 90%, #fff2 190%); }
  100% { background: linear-gradient(to bottom right, #fff2 -0%, #0000 100%, #fff2 200%); }
}